{% extends 'base.html' %}

{% block content %}

<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
        <h2>Unlock the secret to a smooth ride with our comprehensive car service packages tailored to meet your vehicle's specific needs</h2>
        <h5>Wave goodbye to breakdown blues!</h5>
         <div>
                <button class="btn btn-primary">Meet Our Team</button>
                <button class="btn btn-primary">Connect With Us</button>
            </div>
            </div>
            <div class="col-12 col-md-6">
            <img class="header-image" src="../../static/images/happy.jpg" alt="happy header Image">
        </div>
    </div>
    </header>
    <!-- End of Header Section -->
    
    <!-- Start Middle Section -->

    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/colors.jpg" alt="colors image">
            <h4>Don't let car troubles <br>
                slow you down!</h4>
            <p>
                Trust our skilled technicians to breathe new life into your car!
                Our rapid response team is on standby 24/7, 
                ready to tackle any car emergency with speed and expertise
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/clean.jpg" alt="clean image">
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/mechanic.jpg" alt="mechanic image">
        </div>
    </section>
        <!-- End of Collection Features -->

        <!-- Community Section -->
        <section class="row">
            <div class="col-6">
                    <img src="../../static/images/kids.jpg" alt="Kids Image" id="Kids-image">
            </div>

            <div class="col-6">
                 <h4>We've got you covered</h4>
                 <p>
                Safety first! Our certified mechanics prioritize your well-being, 
                offering thorough inspections and maintenance 
                to keep your car in top shape.<br>

                <b>Modern Diagnostic Equipment</b> We utilize state-of-the-art diagnostic equipment to accurately identify any issues with your vehicle. This advanced technology enables us to efficiently diagnose problems, minimizing the risk of errors and ensuring a precise repair process.<br> 

                <b>Genuine Parts and Materials</b> Your safety is our priority, which is why we exclusively use genuine parts and materials from reputable suppliers. By utilizing original components, we guarantee the reliability and durability of the repairs, providing you with peace of mind on the road.<br>

                <b>Adherence to Manufacturer Guidelines</b> Our repair services strictly adhere to the manufacturer's guidelines and specifications. This ensures that your vehicle is maintained according to the recommended safety standards, reducing the risk of potential accidents caused by improper repairs or modifications.
                 </p>
            <div>
                <button class="btn btn-primary">View On CarMax</button>
                <button class="btn btn-primary">Join Our Chat</button>
            </div>

        </section>
        <!-- End of Community Section -->

        <!-- Footer Section -->
        <footer class="row" id="footer">
            <div class="col-2">
                <img src="../../static/images/door.jpg" alt="door Logo" id="footer-logo">
            </div>
            <div class="col-2">
                <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Fixing the Car?</p>
                <p>The Mechanic of the Year Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Success</p>
            </div>
            </div>
            <div class="col-2">
                <div class="footer-text-flex">
                <h4>Car's Health</h4>
                <p>Why your car deserves best care?</p>
                <p>Fuel efficiency</p>
                <p>Resale Value</p>
                <p>Join The Team</p>
                <p>More about longevity</p>
            </div>
            </div>
            <div class="col-2">
                <div class="footer-text-flex">
                <h4>Safety</h4>
                <p>Drivers and Passangers</p>
                <p>Optimal Road Safety</p>
                <p>About the Engine</p>
                <p>Tire Pressure</p>
                <p>Faulty Lights</p>
            </div>
            </div>
            <div class="col-2">
                <div class="footer-text-flex">
                <h4>Reliability</h4>
                <p>Why Reducing The Risk?</p>
                <p>During Long Journey</p>
                <p>Well-maintained Car</p>
                <p>Tell Your Friends</p>
                <p>Get Help For Your Vehicle</p>
            </div>
            </div>
            <div class="col-2">
                <div class="footer-text-flex">
                <h4>Performance</h4>
                <p>Did you Change The Oil?</p>
                <p>About Air Filters</p>
                <p>Vital Parts</p>
                <p>Spread The Word</p>
                <p>Save Your Money</p>
            </div>
        </div>
    </div>
  </footer>

{% endblock %}
