<form method="POST">
    {{ userform.hidden_tag() }}
    <div class="form-group">
        <fieldset id="username-field">
            {{ userform.username.label }}
            {{ userform.username(class='form-control', placeholder = "Place Username Here...")}}
        </fieldset>

        <fieldset id="email-field">
            {{ userform.email.label }}
            {{ userform.email(class='form-control', placeholder = "Place Email Here...")}}
        </fieldset>

        <fieldset id="password-field">
            {{ userform.password.label }}
            {{ userform.password(class='form-control', placeholder = "Place Password Here...")}}
        </fieldset>

        <!-- Submit Button Field -->
        {{ userform.submit_button(class='btn btn-primary btn-block')}}
    </div>
</form>